<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Haukur Kristinsson">
    <meta name="google-site-verification" content="CW5EI0dbVNceyBlLWLNlTgeCpcwT9O2fieM-deFWidQ" />
    <meta name="description" content="Haukur Kristinsson is a software engineer from Iceland." />

    <title><%= title %></title>



    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

</head>

<body id="page-top" class="index">
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/cbpAnimatedHeader.js"></script>
    <script src="/js/dependencies/classie.js"></script>
    <script src="/js/dependencies/jqBootstrapValidation.js"></script>
    <script src="/js/dependencies/jquery.easing.min.js"></script>
    <script src="/js/dependencies/moment.js"></script>
    <script src="/js/dependencies/mustache.js"></script>
    <script src="/js/init.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
